/*.click:hover {
  cursor: pointer;
}

.click {
  color: blue;
  text-decoration: underline;
}*/

body {
  background-color: #FAC570;
}

.col-xs-2 {
  background-color: #FAC570;
}

.row {
  padding-top: 20px;
  background-color: #FAC570;
}

img {
  width: 100%;
}

.btn {
  margin-top: 75px;
}

.col-sm-2 {
  text-align: center;
}

h1 {
  margin-top: 80px;
  text-align: center;
  font-size: 120px;
  font-family: fantasy;
  color: #70A5FA;
  font-weight: bolder;
}
